.footer{
    padding:50px 0px;
    background: #eeeaff;
    width: 100%;
    margin-top: auto;
}
.footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap:2rem;
    background:#eeeaff;
}
.footer-box{
    width: 30%;
}
.footer-box p{
    line-height: 1.2rem;
    margin-top:20px;
}
.footer-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 35px;
}
.footer-links li a{
    cursor:pointer;
}
.footer-links li a:hover{
    color: var(--primary-color);
}